<a class="" asp-controller="" asp-action="">Address</a>
<br />
<a class="" asp-controller="Account" asp-action="Profile">Profile</a>
<br />
<a class="" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
<br />
<a class="" asp-controller="Account" asp-action="ForgotPassword">Reset Password?</a>