@{
	ViewData["Title"] = "Error";
}

<div class="row">
	<div class="col-md-6">
		<h1 style="color:red">Unknwo Error</h1>
		<h2 style="color:red">An unknown error has occurred. We are working on it. Please try after some time</h2>
	</div>
</div>