<p>Manage Account</p>

<a class="" asp-controller="Account" asp-action="ChangePassword">Change Password</a>

<br />

<a class="" asp-controller="Account" asp-action="ForgotPassword">Reset Password?</a>