@{
    ViewData["Title"] = "Home";
}
@model HomeIndexViewModel

<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="hero__search">
				<div class="hero__search__form">
					<form action="#">
						<input type="text" placeholder="Search for products, brands, and shops.">
						<button type="submit" class="site-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
					</form>
				</div>
            </div>
        </div>

        <div class="row">
            <div class="major_categories">
                <h4>Search By</h4>
                <div class="blog__sidebar__item__tags">
                    @foreach(var category in Model.CategoriesDescription)
                    {
                        <p>@category</p>
                    }
                </div>
            </div>
        </div>
    </div>
</section>