@{
    ViewData["Title"] = "Home";
}
@model HomeIndexViewModel

<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="hero__search">
				<div class="hero__search__form">
					<form action="#">
						<input type="text" placeholder="Search for products, brands, and shops.">
						<button type="submit" class="site-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
					</form>
				</div>
            </div>
        </div>
    </div>
</section>

<section class="categories">
    <div class="container">
        <div class="row">
            <div class="category__choices">
                @foreach (var category in Model.CategoriesDescription)
                {
                    <a href="#">@category</a>
                }
            </div>
        </div>
    </div>
</section>

<section class="items">
    <div class="container">
        <div class="row">
            @foreach(var product in Model.Products)
            {
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="items__item">
                        <a href="#">
                            <div class="item__pic">
                                <img src="@Url.Content(product.UrlImage)" alt="">
                            </div>
                            <div class="item__name">
                                <ul>
                                    <li><i class="fa-solid fa-peso-sign"></i> @product.Price </li>
                                    <li> 3k+ sold </li>
                                </ul>
                                <h5>@(product.Name.Length > 20 ? product.Name.Substring(0, 20) + "..." : product.Name)</h5>
                                <span>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>